<div class="list-group">
  <div class="container">
    <div class="list-group-item mx-auto border-0" style="width: 600px;">

       <select class="form-control btn-outline-secondary" onchange="location = this.value">
        <option value="/">類別</option>
        <option Value="/records/01/sort">家居物業</option>
        <option value="/records/02/sort">交通出行</option>
        <option value="/records/03/sort">休閒娛樂</option>
        <option value="/records/04/sort">餐飲食品</option>
        <option value="/records/05/sort">其他</option>
      </select>

       <select class="form-control btn-outline-secondary" onchange="location = this.value">
        <option value="/">月份</option>
        <option Value="/records/1/month">1月</option>
        <option value="/records/2/month">2月</option>
        <option value="/records/3/month">3月</option>
        <option value="/records/4/month">4月</option>
        <option value="/records/5/month">5月</option>
        <option value="/records/6/month">6月</option>
        <option value="/records/7/month">7月</option>
        <option value="/records/8/month">8月</option>
        <option value="/records/9/month">9月</option>
        <option value="/records/10/month">10月</option>
        <option value="/records/11/month">11月</option>
        <option value="/records/12/month">12月</option>
      </select>

      <div class="d-flex justify-content-center align-items-center">
        <h4 class="mr-4">總金額：</h4>
        <h1 class="display-3">{{ totalAmount }}</h1>
      </div>

     
    </div>

    {{#each records }}
    <li class=" list-group-item mx-auto border-0" style="width:auto ;margin-bottom:-15px">
      <div class="row" style="border-style:outset;">
        <div class="col-10 ml-1 mr-4 row d-flex justify-content-between align-items-center">

          <div class="col-7 d-flex justify-content-between align-items-center">
            {{{icon}}}
            <h3>
              {{ this.name }}
            </h3>
            <h2>
              {{ this.amount }}
            </h2>             
          </div>
          <h3 class="ml-1 font-weight-bolder">消費商家:{{this.shop}}</h3>
          <span class="ml-1 font-weight-bolder">{{this.date}}</span>         
        </div>

        <div class="col-1" class="d-flex justify-content-end" >
          <a class="btn btn-success mb-2" href="./records/{{ this._id }}/edit" style="width: 80px;">
            <i >編輯</i>
          </a>
          <form action="./records/{{ this._id }}?_method=DELETE" method="POST">
            <button class="btn btn-danger text-center" type="submit" style="width: 80px;">
              <i >刪除</i>
            </button>
          </form>
        </div>

      </div>
    </li>
    {{/each}}
  </div>
</div>

<div class="text-center">
  <a type="button" class="create-btn btn btn-outline-primary mt-3 mb-5" href=" /records/new">新增支出</a>
</div>

</div>