<div class="container h-200 mt-5 col-8">
  <form action="/records" method="post" class="needs-validation">

    <h3>請輸入你的支出</h3>

   <div class="input-group mb-3 ">
      <div class="input-group-prepend">
        <span class="input-group-text">名稱</span>
      </div>
      <input type="text" class="form-control" placeholder="請填寫名稱" name="name" value="{{name}}">
    </div>

    <div class="input-group mb-3 ">
      <div class="input-group-prepend">
        <span class="input-group-text">月份</span>
      </div>
      <input type="text" class="form-control" placeholder="請填寫月份" name="month"  value="{{month}}">
    </div>

    <div class="input-group mb-3 ">
      <div class="input-group-prepend">
        <span class="input-group-text">顯示日期</span>
      </div>
      <input type="text" class="form-control" placeholder="請填寫想要顯示的年/月/日" name="date" value="{{date}}">
    </div>

    <div class="input-group mb-3 ">
      <div class="input-group-prepend">
        <span class="input-group-text">類別</span>
      </div>
      <select class="form-control" name="category">
        <option value="00">請選擇類別</option>
        <option value="01">家居物業</option>
        <option value="02">交通出行</option>
        <option value="03">休閒娛樂</option>
        <option value="04">餐飲食品</option>
        <option value="05">其他</option>
      </select>
    </div>

    <div class="input-group mb-3 ">
      <div class="input-group-prepend">
        <span class="input-group-text">消費商家</span>
      </div>
      <input type="text" class="form-control" placeholder="請填寫消費商家" name="shop""  value="{{shop}}">
    </div>

    <div class="input-group mb-3 ">
      <div class="input-group-prepend">
        <span class="input-group-text">金額</span>
      </div>
      <input type="text" class="form-control" placeholder="請填寫金額" name="amount" value="{{amount}}">
    </div>
    
    <button type="submit" class="btn btn-info mb-5">新增支出</button>
  </form>
</div>